
* {
    box-sizing: border-box;
}

#imglogo {
    width: 35%;
    display: block;
    margin: -5px auto;
    border-radius: 100%;
    cursor: pointer;
}

img#logo {
    width: 100%;
    display: block;
    margin: -5px auto;
    border-radius: 100%;
    cursor: pointer;
}

body {
    background: url("../rsc/img/imgfondo.gif"); 
    background-repeat: no-repeat;
    background-position: center center;
    background-position-y: 30px;
    background-attachment: fixed;
    background-size: 100% 100%;
}

nav {
    background-color: #436A6C !important;
}

nav ul li {
    padding: 15px;
    display: inline-block;
    list-style: none;
}

/* Por debajo de 1000px */
@media screen and (min-width: 1000px){
    
    @media screen and (orientation:landscape){
        nav ul {
            right: 0;
            float: right;
            position: absolute;
            margin-right: 15px;
        }
    }

    div#categorias>div {
        float: left; 
        margin-right: 25px;
    } 
}

div#categorias {
    display: flex;
    justify-content: center;
}