* {
    box-sizing: border-box;
}

#imglogo {
    width: 35%;
    display: block;
    margin: -5px auto;
    border-radius: 100%;
    cursor: pointer;
}

img#logo {
    width: 100%;
    display: block;
    margin: -5px auto;
    border-radius: 100%;
    cursor: pointer;
}

body {
    background: url("../rsc/img/imgfondo.gif"); 
    background-repeat: no-repeat;
    background-position: center center;
    background-position-y: 30px;
    background-attachment: fixed;
    background-size: 100% 100%;
}

nav {
    background-color: #436A6C !important;
}

nav ul li {
    padding: 15px;
    display: inline-block;
    list-style: none;
}

div.categorias {
    display: flex;
    width: 945px;
    margin: auto;
    text-align: center;
}

#cat1, #cat2 {
    padding-right: 15px;
}

div#categoria1, #categoria2, #categoria3 {
    width: 300px;
}

/* 1000px o mas */
@media screen and (min-width: 1000px){
    
    @media screen and (orientation:landscape){
        nav ul {
            right: 0;
            float: right;
            position: absolute;
            margin-right: 15px;
        }
    }
}

a.navbar-brand {
    font-family: 'sciencefair'; 
    text-shadow: 3px 3px black; 
    color: #E9A56D; 
    font-size: 50px;
}
/* 438px o menos */
@media screen and (max-width: 438px){
    a.navbar-brand { 
        font-size: 30px !important;
    }   
}
/* 928px o menos */
@media screen and (max-width: 928px){
    div.categorias {
        width: 300px;
        display: block;
        margin: 0px auto;
    }
        
}

#imgperfil {
    padding-top: 11px;
}

b#dificultad {
    font-size: 20px;
    color: white;
    text-align: center;
}